
    <h1> <%= user.googlename %> </h1>
    <p>Please enter information about your run</p>

<form method="post" action="run" class="">
  Enter your name:
  <input type="text" name= "fullname" value = ""> <br>
  Minutes:
  <input type="number" name="min" value = ""><br>
  Seconds:
  <input type="number" name="sec" value = ""> <br>
  Distance:
  <input type="number" name="distanceNum" value = "">

  <select class="" name="distanceOption">
    <option value="Mi">Mi</option>
    <option value="Km">Km</option>
  </select>
  <input type="submit" value="Log">
</form>

<h2>Previous Runs:</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Distance</th>
      <th>Time</th>
      <th>When</th>
      <th>remove</th>
    </tr>
  </thead>
  <% items.forEach(item => { %>
  <tbody>
    <td><%= item.distance %> <%= item.distanceUnit %></td>
    <td><%= item.min %>:<%= item.sec %>
    <td><%= item.createdAt %>
    <td><a href="/run/remove/<%=item._id %>">X</a></td>
  </tbody>
  <% }) %>
</table>

<% items.forEach(item => { %>
  <a href="/run/remove/<%=item._id %>">X</a>
  | 
  <%= item.distance %> <%= item.distanceUnit %> <%= item.min %>:<%= item.sec %> <%= item.createdAt %>
  <br>
<% }) %>

